<div *ngIf="repos.length > 0 && !isLoading" class="repos-block">
  <div class="repo-cards-container">
    <div class="repo-card" *ngFor="let repo of repos" (click)="redirectToRepo(repo.html_url)">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ repo.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Size: {{ repo.size }} KB</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="pagination">
    <button
      class="btn-pagination"
      type="button"
      (click)="onPrevious()"
      [disabled]="pageNumber === 1"
    >
      Previous
    </button>
    <input
    type="number"
    [(ngModel)]="pageNumber"
    (input)="onPageInput()"
    [min]="1"
    placeholder="Page"
    /> 
    <button
      class="btn-pagination"
      type="button"
      (click)="onNext()"
      [disabled]="repos.length === 0 || !hasNextPage"
    >
      Next
    </button>
  </div>
</div>
<div class="loader">
  <app-loading *ngIf="isLoading"></app-loading>
</div>