<div class="logo-container">
    <span class="logo-title">
      <a href="/" class="logo-link">
        <img
          src="../../assets/github.png"
          alt="GitHub Icon"
          class="logo-icon"
          width="24"
          height="24"
        />
        GitHub User Search
      </a>
    </span>
    <p class="logo-subtitle">
      Browse users and their profiles via 
      <a href="https://developer.github.com/v3/" class="api-link">
        the GitHub API
      </a>
    </p>
  </div>
  